.vs/Requeteur.Amplitude/FileContentIndex/8b6a78bc-c62c-4d1d-9c69-6404686fff2e.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/f9feff21-5065-4d2d-804b-1d30bba9bbeb.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/39367c5a-56df-4893-b48c-34a2059505da.vsidx
