.vs/Requeteur.Amplitude/FileContentIndex/8b6a78bc-c62c-4d1d-9c69-6404686fff2e.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/f9feff21-5065-4d2d-804b-1d30bba9bbeb.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/39367c5a-56df-4893-b48c-34a2059505da.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/8e58129c-bdb2-49a1-9767-da4fe9b339d2.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/ae4a52fc-6e93-49fc-9bbb-41ebdc69078b.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/c4a4802b-19f7-4520-b377-a4315af17e21.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/ce46eb45-ab39-4cfc-bf44-2d2cd4a8ce8e.vsidx
.vs/Requeteur.Amplitude/copilot-chat/1bb1557a/sessions/6735aeae-14a5-4c9d-b9e7-43c110fc9478
.vs/Requeteur.Amplitude/FileContentIndex/19f857e0-9c14-49fa-8bf0-7ead35a8243e.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/9e581957-8a09-441c-a498-b43ad57aaa11.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/da1ee180-4d49-47d7-ab69-97454b4d27dd.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/de89e5d9-d76a-42ed-8ec0-df23e00cbf9c.vsidx
.vs/Requeteur.Amplitude/FileContentIndex/e7e8c659-7c4e-4fae-bda7-ee035407df1a.vsidx
