@model List<Agence>

<h2>Liste des agences</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Code</th>
            <th>Libellé</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var agence in Model)
        {
            <tr>
                <td>@agence.AGE</td>
                <td>@agence.LIB</td>
            </tr>
        }
    </tbody>
</table>


