@model List<Agence>

<div class="container mt-4">
    <h3 class="mb-3">Liste des agences</h3>
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Code</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agence in Model)
            {
                <tr>
                    <td>@agence.AGE</td>
                    <td>@agence.LIB</td>
                </tr>
            }
        </tbody>
    </table>
</div>

