@{
    ViewBag.Title = "Accueil";
}

<!-- Menu principal -->
@* <h2>Bienvenue</h2>

@if (!string.IsNullOrEmpty(ViewBag.AgenceChoisie))
{
    <p>Agence connectée : <strong>@ViewBag.AgenceChoisie</strong></p>

    <form asp-action="Logout" method="post">
        <button class="btn btn-danger">Déconnexion</button>
    </form>
} *@

<!-- MODALE AGENCE -->
@if (string.IsNullOrEmpty(ViewBag.AgenceChoisie))
{
    <div class="modal fade show" id="agenceModal" tabindex="-1" style="display:block;" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="post" asp-action="ChoisirAgence">
                    <div class="modal-header">
                        <h5 class="modal-title">Sélection d'une agence</h5>
                    </div>
                    <div class="modal-body">
                       @*  <label for="AGE">Agence :</label> *@
                        <select name="AGE" class="form-control" required>
                            <option value="">-- Sélectionnez une agence--</option>
                            @foreach (var agence in (SelectList)ViewBag.Agences)
                            {
                                <option value="@agence.Value">@agence.Text</option>
                            }
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Overlay grisé pour empêcher interaction -->
    <div class="modal-backdrop fade show"></div>
}
